@font-face {
	font-family: 'TT Firs Neue';
	src: local('TT Firs Neue Regular'),
		url('./TTFirsNeue-Regular.woff2') format('woff2'),
		url('./TTFirsNeue-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'TT Firs Neue';
	src: local('TT Firs Neue Medium'),
		url('./TTFirsNeue-Medium.woff2') format('woff2'),
		url('./TTFirsNeue-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'TT Firs Neue';
	src: local('TT Firs Neue Bold'),
		url('./TTFirsNeue-Bold.woff2') format('woff2');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
