@mixin orange_btn {
  @include secondFont;
  padding: 15px 20px;
  background-color: #FF6E30;
  border: none;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  @media screen and (max-width: 700px) {
    padding: 12px 23px;
    font-family: 'Roboto', serif;
    font-size: 14px;
  }
}

@mixin secondFont {
  font-family: 'TT Firs Neue', sans-serif;
}

.about {
  padding-top: 32px;
  padding-bottom: 52px;
  background-color: #202020;
  @media screen and (max-width: 1300px) {
    padding-bottom: 113px;
  }
  @media screen and (max-width: 1300px) {
    padding-bottom: 51px;
  }
  @media screen and (max-width: 320px) {
    padding-top: 34px;
    padding-bottom: 47px;
  }
  &__studio {
    @media screen and (max-width: 740px) {
      order: 1;
    }
  }
  &__container {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 1300px) {
      padding-bottom: 126px;
      padding-left: 31px;
      padding-right: 31px;
    }
    @media screen and (max-width: 1300px) {
      padding-bottom: 13px;
    }
    @media screen and (max-width: 740px) {
      padding-left: 21px;
      padding-right: 17px;
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
  &__title {
    margin-bottom: 5px;
    color: #fff;
    font-size: 24px;
    @include secondFont;
    @media screen and (max-width: 740px) {
      margin-bottom: 7px;
      font-size: 18px;
    }
  }
  &__dispatch {
    padding-top: 31px;
    @media screen and (max-width: 740px) {
      padding-top: 22px;
      padding-bottom: 0;
      order: 2;
    }
  }
  &__img {
    margin-bottom: 18px;
    height: 255px;
    width: 100%;
    background-color: #cacaca;
    background: url('../public/img/about/pict1.webp') center center no-repeat;
    background-size: cover;
    @media screen and (max-width: 1300px) {
      margin-bottom: 21px;
      height: 332px;
      background: url('../public/img/about/pic1024.webp') center center no-repeat;
    }
    @media screen and (max-width: 1000px) {
      height: 569px;
      background: url('../public/img/about/photocamera768.webp') center center no-repeat;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 24px;
      height: 569px;
    }
    @media screen and (max-width: 320px) {
      height: 280px;
      background: url('../public/img/about/photocamera320.webp') center center no-repeat;
    }
  }
  &__description {
    font-weight: 700;
    color: #cacaca;
    line-height: 28px;
    @media screen and (max-width: 320px) {
     font-size: 14px;
     line-height: 25px;
    }
  }
  &__label {
    display: block;
    margin-bottom: 14px;
    pointer-events: none;
    @include secondFont;
    font-size: 24px;
    color: #fff;
    @media screen and (max-width: 320px) {
      margin-bottom: 17px;
      font-size: 18px;
     }
  }
  &__input {
    margin-right: 28px;
    margin-bottom: 20px;
    padding: 15px 23px;
    width: 474px;
    height: 50px;
    background-color: #4A4A4A;
    border: none;
    color: #cacaca;
    &:hover::-webkit-input-placeholder {
      color: #FF6E30;
    }
    &:hover:-moz-placeholder {
      color: #FF6E30;
    }
    &:focus {
      outline: 1px solid #FF6E30;
    }
    @media screen and (max-width: 1300px) {
      width: 342px;
      padding-top: 18px;
      padding-bottom: 14px;
      height: auto;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    @media screen and (max-width: 320px) {
      padding-top: 8px;
      padding-bottom: 12px;
    }
  }
  &__btn {
    @include orange_btn;
    padding: 17px 21px;
    font-family: 'Roboto', serif;
    transition: background-color .3s ease;
    @media screen and (max-width: 1300px) {
      padding: 17px 24px;
    }
    @media screen and (max-width: 320px) {
      padding: 12px 22px;
    }
    &:hover {
      background-color: #BC572B;
    }
    &:focus {
      outline: 3px solid #CE4307;
    }
    &:active {
      background-color: #CE4307;
    }
  }
}
