@import './public/fonts/fonts.css';
@import './public/normalize.css';

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
};

.container {
  margin: 0 auto;
  max-width: 1290px;
  @media screen and (max-width: 1350px) {
    max-width: 1024px;
  }
}

