.header {
  &__top {
    background-color: #202020;
    @media screen and (max-width: 1300px) {
      padding-top: 3px;
      padding-left: 31px;
      padding-right: 31px;
    }
    @media screen and (max-width: 620px) {
      padding-top: 0;
      padding-left: 21px;
      padding-right: 21px;
      padding-bottom: 7px;
    }
  }
  &__container {
    display: grid;
    padding-top: 24px;
    padding-bottom: 23px;
    grid-template-columns: 2fr 1fr 7fr 2fr;
    grid-template-areas: "logo . nav social";
    @media screen and (max-width: 1300px) {
      grid-template-columns: 215px 565px 2fr;
      grid-template-areas: "logo nav social";
    }
    @media screen and (max-width: 1000px) {
      grid-template-columns: 166px minmax(100px, 2fr) 227px 25px;
      grid-template-areas: "logo . contacts-768 btn-search";
    }
    @media screen and (max-width: 620px) {
      grid-template-columns: minmax(111px, 166px) minmax(100px, 2fr) 25px;
      grid-template-areas: "logo . btn-search";
    }
  }
  &__container-bottom {
    display: grid;
    grid-template-columns: 3fr 7fr minmax(240px, 2fr);
    grid-template-areas: "contacts . form";
    @media screen and (max-width: 1000px) {
      grid-template-columns: 100%;
      grid-template-areas: "nav";
    }
    @media screen and (max-width: 620px) {
      grid-template-columns: 20px minmax(70px, 100%) 163px;
      grid-template-areas: "burger . contacts";
    }
  }
  &__logo {
    grid-area: logo;
    @media screen and (max-width: 1300px) {
      width: 166px;
    }
    @media screen and (max-width: 620px) {
      width: 111px;
    }
  }
  &__nav {
    grid-area: nav;
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
  &__nav-768 {
    display: none;
    @media screen and (max-width: 1000px) {
      display: block;
    }
    @media screen and (max-width: 620px) {
      display: none;
    }
  }
  &__social {
    grid-area: social;
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
  &__contacts {
    padding-top: 4px;
    grid-area: contacts;
    color: #fff;
    @media screen and (max-width: 1000px) {
      display: none;
    }
    @media screen and (max-width: 620px) {
      display: block;
      color: #CE4307;
      font-size: 14px;
      padding-top: 0;
    }
  }
  &__contacts:focus {
    color: #FF6E30;
  }
  &__contacts:hover {
    color: #FF6E30;
  }
  &__contacts:active {
    color: #fff;
    background-color: #BC572B;
  }
  &__contacts-768 {
    grid-area: contacts-768;
    display: none;
    @media screen and (max-width: 1000px) {
      display: flex;
      align-items: center;
      color: #FF6E30;
    }
    @media screen and (max-width: 620px) {
      display: none;
    }
  }
  &__search {
    justify-self: end;
    grid-area: form;
    @media screen and (max-width: 1300px) {
      padding-left: 0;
      justify-self: end;
    }
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
  &__bottom {
    padding-top: 9px;
    padding-bottom: 6px;
    background-color: #4A4A4A;
    @media screen and (max-width: 1300px) {
      padding-top: 9px;
      padding-left: 31px;
      padding-right: 31px;
      padding-bottom: 5px;
    }
    @media screen and (max-width: 1000px) {
      padding: 13px 24px;
    }
    @media screen and (max-width: 620px) {
      padding-left: 21px;
      padding-right: 21px;
      padding-bottom: 6px;
    }
  }
  &__btn {
    padding: 0;
    position: relative;
    height: 24px;
    width: 24px;
    border: none;
    color: #cacaca;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  &__btn-768 {
    display: none;
    @media screen and (max-width: 1000px) {
    display: block;
    grid-area: btn-search;
    height: 25px;
    width: 25px;
    border: none;
    color: #cacaca;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.4s ease;
    object-fit: cover;
    }
    @media screen and (max-width: 620px) {
    width: 20px;
    height: 20px;
    }
  }
  &__btn:hover {
    transform:scale(1.5);
    color: #fff;
  }
  &__magnifier {
    position: absolute;
    bottom: 1px;
    left: 3px;
  }
  &__input {
    width: 169px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #E9E9E9;
    outline: none ;
    color: #cacaca;
    @media screen and (max-width: 1300px) {
      width: 196px;
    }
  }
  &__input:hover {
    border-bottom-color: #FF6E30;
  }
  &__input:focus {
    border-bottom-color: #FF6E30;
  }
  &__input:active {
    border-bottom-color: #BC572B;
  }
  &__input::placeholder {
    padding-left: 0;
    @include secondFont;
    font-size: 14px;
    color: #cacaca;
    @media screen and (max-width: 1300px) {
      font-size: 16px;
    }
  }
  &__burger {
    display: none;
    grid-area: burger;
    @media screen and (max-width: 620px) {
      display: block;
      position: relative;
      width: 23px;
      height: 23px;
      border: none;
      background-color: transparent;
    }
  }
  &__burger-svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__svg-320 {
    @media screen and (max-width: 620px) {
      height: 20px;
      width: 20px;
    }
  }
}

.social {
  &__list {
    display: flex;
    justify-content: flex-end;
  }
  &__item:not(:last-child) {
    margin-right: 20px;
  }
  &__link {
    color: #cacaca;
  }
  &__link:focus {
    color: #BC572B;
  }
  &__link:hover {
    color: #FF6E30;
  }
  &__link:active {
    color: #CE4307;
  }
}

.nav {
  padding-top: 5px;
  @media screen and (max-width: 1300px) {
    padding-top: 3px;
  }
  &__list {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 1000px) {
      justify-content: space-between;
    }
  }
  &__item:not(:last-child) {
    margin-right: 75px;
    @media screen and (max-width: 1300px) {
      margin-right: 28px;
    }
  }
  &__link {
    padding: 0 3px;
    @include secondFont;
  }
  &__link:link {
    color: #fff;
  }
  &__link:hover {
    color: #FF6E30;
  }
  &__link:focus {
    color: #fff;
    outline: none;
    background-color: #BC572B;
  }
  &__link:active {
    color: #CE4307;
    background-color: transparent;
  }
}

.contacts {
  &__tel {
    display: inline-block;
    @include secondFont;
    vertical-align: top;
    font-weight: bold;
    letter-spacing: 1.5px;
    white-space: pre;
    transform: translateX(-8px);
    color: inherit;
    @media screen and (max-width: 1300px) {
      font-size: 14px;
    }
    @media screen and (max-width: 620px) {
      letter-spacing: 0.4px;
    }
  }
}
