.portfolio {
  display: grid;
  grid-template: 25px 300px 257px / repeat(4, 1fr);
  grid-template-areas: "masterclass masterclass title title"
                        "masterclass masterclass img2 img2"
                        "masterclass masterclass img3 img4";
  &__title {
    padding: 0;
    grid-area: title;
    @include secondFont;
    font-size: 24px;
  }
  &__masterclass {
    grid-area: masterclass;
  }
  // &__img {}
  &__img2 {
    grid-area: img2;
    object-fit: cover;
  }
  &__img3 {
    grid-area: img3;
  }
  &__img4 {
    grid-area: img4;
  }
}

// .masterclass {
//   &__tag {}
//   &__author {}
//   &__name {}
//   &__btn
// }
