.projects {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  @media screen and (max-width: 1024px) {
    padding-left: 31px;
    padding-right: 31px;
  }
  @media screen and (max-width: 1024px) {
    padding-left: 28px;
  }
  @media screen and (max-width: 676px) {
    padding-left: 21px;
    padding-right: 21px;
  }
  @media screen and (max-width: 320px) {
    padding-top: 35px;
    padding-bottom: 30px;
  }
  &__title {
    margin-bottom: 15px;
    @include secondFont;
    font-size: 24px;
    @media screen and (max-width: 676px) {
      margin-bottom: 17px;
      font-size: 18px;
    }
  }
  &__slider {
    margin-bottom: 48px;
    @media screen and (max-width: 320px) {
      margin-bottom: 0;
    }
  }
}

.slide {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 300px;
  gap: 30px;
  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(8, 1fr);
    gap: 26px 30px;
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(6, 1fr);
    gap: 28px 30px;
  }
  @media screen and (max-width: 676px) {
    grid-template-columns: 1fr;
    grid-template-rows: 877px 422px 295px 295px 422px;
    justify-items: center;
    gap: 30px 22px;
  }
  &__list {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 29px;
  }
  &__list-add {
    @media screen and (max-width: 1024px) {
      grid-column: 1 / 9;
      grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (max-width: 768px) {
      grid-column: 1 / 7;
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 676px) {
      grid-column: 1;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 273px);
    }
  }
  &__list-del {
    @media screen and (max-width: 1024px) {
      grid-column: 1 / 9;
      grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (max-width: 768px) {
      grid-column: 1 / 7;
      grid-row: 1 / 2;
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 676px) {
      grid-column: 1;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 273px);
    }
  }
  &__item {
    position: relative;
  }
  &__item-add {
    display: none;
    @media screen and (max-width: 1024px) {
      display: block;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__item-del {
    @media screen and (max-width: 1024px) {
      display: none;
    }
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
  &__img {
    position: relative;
    margin-bottom: 18px;
    max-width: 218px;
    height: 184px;
    background-color: #cacaca;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media screen and (max-width: 676px) {
      max-width: 276px;
      width: 100%;
    }
  }
  &__img1 {
    background-image: url('../public/img/projects/pic3.webp');
  }
  &__img2 {
    background-image: url('../public/img/projects/pic1.webp');
  }
  &__img3 {
    background-image: url('../public/img/projects/pic2.webp');
  }
  &__img4 {
    background-image: url('../public/img/projects/pic10.webp');
  }
  &__img5 {
    background-image: url('../public/img/projects/pic8.webp');
  }
  &__img6 {
    background-image: url('../public/img/projects/pic9.webp');
  }
  &__text {
    margin-bottom: 16px;
    line-height: 22px;
    @media screen and (max-width: 676px) {
      margin-bottom: 9px;
      max-width: 276px;
    }
  }
  &__text-list {
    @media screen and (max-width: 1024px) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  &__tag {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 6px 14px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    @media screen and (max-width: 676px) {
      padding: 4px 13px;
      font-size: 12px;
    }
  }
  &__block-big {
    position: relative;
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 30px;
    background-color: #cacaca;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    background-size: cover;
    @media screen and (max-width: 676px) {
      padding-bottom: 88px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 278px;
      height: 422px;
    }
  }
  &__block-big1 {
    grid-column: 3 / 5;
    background-image: url('../public/img/projects/pic7.webp');
    @media screen and (max-width:1024px) {
      grid-column: 1 / 6;
    }
    @media screen and (max-width: 768px) {
      grid-column: 1 / 7;
    }
    @media screen and (max-width: 676px) {
      grid-column: 1;
    }
  }
  &__block-big2 {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    background-image: url('../public/img/projects/pic6.webp');
    @media screen and (max-width:1024px) {
      grid-row: 3 / 4;
      grid-column: 4 / 9;
    }
    @media screen and (max-width:768px) {
      grid-row: 4 / 5;
      grid-column: 1 / 7;
    }
    @media screen and (max-width: 676px) {
      grid-row: 5 / 6;
      grid-column: 1;
    }
  }
  &__block-big3 {
    grid-column: 1 / 3;
    background-image: url('../public/img/projects/pic14.webp');
    @media screen and (max-width:1024px) {
      grid-column: 1 / 6;
      grid-row: 1 / 2;
    }
    @media screen and (max-width:768px) {
      grid-row: 2 / 3;
      grid-column: 1 / 7;
    }
    @media screen and (max-width: 676px) {
      grid-column: 1;
    }
  }
  &__block-big4 {
    grid-column: 3 / 5;
    background-image: url('../public/img/projects/pic13.webp');
    @media screen and (max-width:1024px) {
      grid-column: 4 / 9;
      grid-row: 2 / 3;
    }
    @media screen and (max-width:768px) {
      grid-column: 1 / 7;
      grid-row: 4 / 5;
    }
    @media screen and (max-width: 676px) {
      grid-column: 1;
      grid-row: 5 / 6;
    }
  }
  &__block-middle1 {
    @media screen and (max-width:1024px) {
      grid-column: 6 / 9;
    }
    @media screen and (max-width:768px) {
      grid-column: 1 / 4;
    }
    @media screen and (max-width: 676px) {
      grid-column: 1;
    }
  }
  &__block-middle2 {
    @media screen and (max-width:1024px) {
      grid-column: 1 / 4;
    }
    @media screen and (max-width:768px) {
      grid-column: 4 / 7;
    }
    @media screen and (max-width: 676px) {
      grid-column: 1;
      grid-row: 4 / 5;
    }
  }
  &__block-middle3 {
    @media screen and (max-width:1024px) {
      grid-column: 6 / 9;
    }
    @media screen and (max-width:768px) {
      grid-column: 1 / 4;
    }
    @media screen and (max-width: 676px) {
      grid-column: 1;
    }
  }
  &__block-middle4 {
    @media screen and (max-width:1024px) {
      grid-column: 1 / 4;
    }
    @media screen and (max-width:768px) {
      grid-column: 4 / 7;
    }
    @media screen and (max-width: 676px) {
      grid-column: 1;
      grid-row: 4 / 5;
    }
  }
  &__date {
    font-size: 12px;
    color: #999;
    &::before {
      content: '';
      margin-right: 4px;
      display: inline-block;
      width: 14px;
      height: 14px;
      vertical-align: middle;
      background: url('../public/img/icons/calendar.svg') no-repeat;
    }
    @media screen and (max-width: 676px) {
      width: 276px;
    }
  }

  &__date-list {
    position: absolute;
    bottom: 5px;
    left: 0;
    @media screen and (max-width: 1024px) {
      bottom: 0;
    }
  }
  &__date-white {
    display: block;
    // margin-bottom: 5px;
    font-size: 12px;
    line-height: 25px;
    color: #fff;
    &::before {
      content: '';
      margin-right: 4px;
      display: inline-block;
      width: 14px;
      height: 14px;
      vertical-align: middle;
      background: url('../public/img/icons/calendar-white.svg') no-repeat;
    }
  }
  &__title {
    margin-bottom: 6px;
    @include secondFont;
    color: #fff;
    max-width: 290px;
    line-height: 24px;
  }
  &__description {
    line-height: 22px;
    color: #fff;
    max-width: 292px;
    @media screen and (max-width: 646px) {
      line-height: 18px;
      font-size: 14px;
      max-width: 205px;
    }
  }
  &__btn {
    position: absolute;
    padding: 13px 19px;
    align-self: start;
    left: 30px;
    bottom: 30px;
    font-weight: 700;
    border: 3px solid #FF6E30;
    outline: none;
    transition: background-color .3s ease;
    &:hover {
      background-color: #FF6E30;
    }
    &:focus {
      background-color: #BC572B;
    }
    &:active {
      background-color: #CE4307;
      border-color: transparent;
    }
    @media screen and (max-width: 676px) {
      padding: 10px 18px;
      font-size: 14px;
    }
  }
  &__middle-img {
    margin-bottom: 18px;
    position: relative;
    max-width: 331px;
    height: 184px;
    background-color: #cacaca;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (max-width: 1024px) {
      max-width: 342px;
    }
  }
  &__middle-img1 {
    background-image: url('../public/img/projects/pic4.webp');
  }
  &__middle-img2 {
    background-image: url('../public/img/projects/pic5.webp');
  }
  &__middle-img3 {
    background-image: url('../public/img/projects/pic12.webp');
  }
  &__middle-img4 {
    background-image: url('../public/img/projects/pic11.webp');
  }
}

.swiper-pagination {
  position: static;
  @media screen and (max-width: 676px) {
    position: absolute;
    top: 31px;
    right: 20px;
  }
}

.pagination {
  display: flex;
  margin: 0 auto;
  height: 30px;
  width: 100px;
  @media screen and (max-width: 676px) {
    margin-right: 0;
  }
  &__list {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 676px) {
      justify-content: flex-end;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #c4c4c4;
    border-radius: 0;

    &:hover {
      background-color: #E9E9E9;
      color: #FF6E30;
    }
    &:focus {
      background-color: #FFD4C1;
      color: #223444;
    }
    &:visited {
      background-color: #FF6E30;
      color: #fff;
    }
    @media screen and (max-width: 676px) {
      height: 24px;
      width: 24px;
    }
  }
  &__item:not(:last-child) {
    margin-right: 28px;
    @media screen and (max-width: 676px) {
      margin-right: 12px;
    }
  }
}

.swiper-pagination-bullet-active {
  background-color: #FF6E30;
  color: #fff;
}
