$orange: #FF6E30;
$yellow: #FFF500;

.services {
  padding-top: 34px;
  padding-bottom: 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: 8fr 4fr;
  grid-template-areas: 'main aside';
  &__title {
    margin-bottom: 9px;
    @include secondFont;
    font-size: 24px;
  }
  &__main {
    grid-area: main;
  }
  &__aside {
    grid-area: aside;
  }
  &__switcher {
    margin-bottom: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 410px;
    border-bottom: 4px solid #C4C4C4;
  }
  &__switcher_name {
    font-size: 16px;
    font-weight: 700;
    color: #666;
  }
  &__switcher_name-active {
    position: relative;
    color: $orange;
    &::after {
      content: '';
      position: absolute;
      top: 28px;
      left: 0;
      height: 4px;
      width: 100%;
      background-color: $orange;
    }
  }
}

.main-list {
  display: grid;
  grid-auto-rows: 140px;
  gap: 25px;
  &__item {
    display: grid;
    grid-auto-columns: 8fr;
    gap: 28px;
  }
  &__img {
    grid-column: 1 / 4;
    @media screen and (max-width: 1350px) {
      max-width: 240px;
    }
  }
  &__wrapper {
    padding-top: 20px;
    grid-column: 4 / 9;
  }
  &__title {
    margin-bottom: 5px;
    color: #202020;
    font-size: 24px;
    font-weight: 400;
    @include secondFont;
  }
  &__description {
    margin-bottom: 11px;
    color: #999;
    line-height: 22px;
  }
  &__link {
    position: relative;
    color: $orange;
    font-weight: 700;
    &::after {
      content: url('../public/img/icons/arrow-short.png');
      position: absolute;
      top: 3px;
      left: 90px;
    }
    &:hover {
      &::after {
        content: url('../public/img/icons/arrow-long.png');
      }
    }
  }
}

.add-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px;
  }
  &__wrapper {
    padding-top: 15px;
  }
  &__title {
    margin-bottom: 5px;
    color: #202020;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    @include secondFont;
  }
}

.aside {
  &__hero {
    margin-bottom: 30px;
    padding: 20px 30px 30px;
    height: 490px;
    background-image: url('../public/img/services/hero.webp');
  }
  &__title-yellow {
    font-size: 36px;
    font-weight: 700;
    @include secondFont;
    color: $yellow;
  }
  &__descr-yellow {
    margin-bottom: 210px;
    font-size: 22px;
    font-weight: 700;
    color: $yellow;
  }
  &__discount {
    margin-bottom: 9px;
  }
  &__descr {
    margin-bottom: 9px;
    max-width: 218px;
    color: #FFF;
  }
  &__btn {
    display: inline-block;
    @include orange_btn;
  }
  &__title {
    margin-bottom: 12px;
    font-size: 24px;
    color: #202020;
    @include secondFont;
  }
  &__list,
  &__list-add {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  &__img {
    width: 80px;
    height: 60px;
  }
}

.d-none {
  display: none;
}
